.hiddenSwitch{
    width: 100vw;
    height: 26px;
    background-color: rgba(104, 104, 104, 0.315);
    color: #ffffff;
    
    position: absolute;
    bottom: 0;
    /* z-index: 5000; */

    display: flex;
    justify-content: center;
    align-items: baseline;
}

.settingsModal{
    --height: 55vh;
}