@font-face {
    font-family: Arapey;
    src: url("../assets/fonts/textOnlyFonts/Arapey.ttf")
}

@font-face {
    font-family: Quicksand;
    src: url("../assets/fonts/textOnlyFonts/Quicksand.ttf")
}

@font-face {
    font-family: ShareTechMono;
    src: url("../assets/fonts/textOnlyFonts/ShareTechMono.ttf")
}

@font-face {
    font-family: Unna;
    src: url("../assets/fonts/textOnlyFonts/Unna.ttf")
}

.bookTitleLabel{
    white-space: nowrap;
    overflow: hidden;
}

.document{
    overflow: auto;
}
.prevBtn, .nextBtn{
    opacity: 0.3;
}

#textContainer{
    overflow: scroll;
    word-wrap: break-word;
    padding: 20px 20px 20px 20px;
}

/* .textChild  {
    font-family: ShareTechMono !important;
    color: aqua;
} */