.bookList{
    display: flex;
    flex-flow: wrap; 
    justify-content: center;
}
.bookList ion-card{
    max-width: calc(42vw);
    margin: 8px;
}

.bookList ion-card ion-card-title{
    font-size: 12px !important;
}
.removeBtn{
    position: absolute;
    top: 0px;
    right: 0;
    background-color: rgba(255, 255, 255, 0.788);
    border-radius: 5px;
    
}
.noBookLabel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}
.noBookLabel > ion-icon{
    padding: 0 10px 0 10px;
    color: rgb(66, 66, 66);
}